@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ibg {
  padding: 0px 0px 100% 0px;
  overflow: hidden;
  position: relative;
}

.ibg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header.active {
  background-color: #333333;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.header__body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 5px;
  margin: 0 auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  padding: 50px 0px;
}

.header__phone {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 2px solid #D1A954;
  padding-bottom: 4px;
}

.header__phone a {
  color: #ffffff;
}

.menu-header.active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-header__link {
  font-family: Open Sans Condensed;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.menu-header__link:not(:last-child) {
  margin-right: 63px;
}

.menu-header__link a {
  color: #ffffff;
}

.menu-header__link:hover {
  text-decoration: underline;
}

.menu-header__sites {
  padding-top: 40px;
  padding-left: 50px;
}

.menu-header__sites ul {
  display: grid;
  grid-template-columns: 100px 100px;
  text-align: center;
}

.menu-header__link-site {
  margin-top: 54px;
  text-align: center;
}

.menu-header__link-site:nth-child(4) {
  position: relative;
  top: 4px;
}

.title {
  position: relative;
  max-height: 1045px;
  width: 100%;
  padding-bottom: 44%;
  overflow: hidden;
}

.title__body {
  height: 1045px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 170px;
}

.title__contents {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title__left-bar {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: rgba(51, 51, 51, 0.75);
  height: 1054px;
  max-width: 150px;
}

.title__left-bar ul {
  padding-bottom: 86px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.title__left-bar ul li {
  padding-top: 30px;
}

.title__left-bar ul li:hover svg #hover {
  fill: #D1A954;
  fill-opacity: 1;
}

.title__left-bar ul span {
  height: 80px;
  width: 2px;
  background-color: white;
  margin-bottom: 10px;
}

.title__left-bar p {
  margin-bottom: 160px;
  display: block;
  white-space: nowrap;
  font-family: Open Sans Condensed;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: bold;
}

.title__link-site {
  display: block;
  text-align: center;
}

.title__content {
  max-width: 560px;
  margin: 0px 30px;
  padding: 0px 10px;
}

.title__title {
  font-family: Open Sans Condensed;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 64px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}

.title__description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 50px 0px;
}

.title__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 50px;
  background-color: #D1A954;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  font-family: Open Sans Condensed;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.title__btn:hover {
  background-color: #967a3f;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.title__slider {
  margin: 0px 30px;
  padding: 0px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  min-width: 320px;
}

.title__bcg {
  width: 100%;
  height: 100%;
}

.title__bcg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.slider-title__body {
  width: inherit;
  position: relative;
  top: -120px;
}

.slides {
  text-align: center;
  width: 350px;
  height: 490px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.slides input {
  display: none;
}

.slide-container {
  display: block;
  height: 100%;
}

.slide {
  width: 350px;
  display: block;
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: 1;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.slide img {
  max-width: 100%;
  height: 100%;
}

.slide::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #D1A954;
  opacity: 0.8;
  -webkit-transition: all 0s ease 0.2s;
  -o-transition: all 0s ease 0.2s;
  transition: all 0s ease 0.2s;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav label {
  position: absolute;
  bottom: -67px;
  z-index: 9;
  cursor: pointer;
}

.nav label img {
  padding: 5px 0px 0px 0px;
}

input:checked + .slide-container .slide {
  bottom: 0;
  right: 0;
  z-index: 2;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

input:checked + .slide-container .slide::after {
  content: '';
  background-color: #ffffff00;
  -webkit-transition: 0.1s ease 0.1s;
  -o-transition: 0.1s ease 0.1s;
  transition: 0.1s ease 0.1s;
}

input:checked + .slide-container .nav label {
  display: block;
}

.prev {
  width: 120px;
  height: 20px;
  display: none;
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
}

.prev img {
  margin-right: 20px;
}

.prev:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: #FFFFFF;
}

.next {
  right: -20px;
  width: 120px;
  height: 20px;
  display: none;
  font-family: Open Sans Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.next img {
  margin-left: 20px;
}

.next:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: #FFFFFF;
}

.info {
  background-color: #333333;
}

.info__body {
  padding: 0px 10px;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.info__column-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.info__title {
  white-space: nowrap;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: Open Sans Condensed;
}

.info__description {
  font-weight: 300;
  max-width: 445px;
  margin-right: 30px;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  font-family: Open Sans;
}

.info__icon {
  text-align: left;
  padding-bottom: 15px;
}

.info__text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: white;
  font-family: Open Sans Condensed;
  padding-bottom: 27px;
}

.info__text span {
  color: #D1A954;
}

.info__img {
  margin-left: 50px;
  max-width: 350px;
  max-height: 292px;
}

.info__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.title-site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: Open Sans Condensed;
  color: white;
  padding-top: 150px;
  margin-bottom: 100px;
}

.title-site span {
  margin-right: 12px;
  color: #D1A954;
}

@media (min-width: 768px) {
  .menu-header__sites,
  .menu-header__link-site {
    display: none;
  }
}

@media (max-width: 1200px) {
  .slides {
    width: 300px;
  }

  .slide {
    width: 300px;
  }
}

@media (max-width: 992px) {
  .header__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .menu-header__list {
    margin-left: 80px;
  }

  .menu-header__link:not(:last-child) {
    margin-right: 30px;
  }

  .title__body {
    padding-bottom: 0;
  }

  .title__contents {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .title__slider {
    display: none;
  }

  .info__column:last-child {
    display: none;
  }

  .title-site {
    padding-top: 90px;
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__burger {
    position: relative;
    margin: 20px 0px 20px 39px;
    width: 26px;
    height: 20px;
  }

  .header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    display: block;
    width: 20px;
    height: 3px;
    background-color: white;
  }

  .header__burger::after {
    content: '';
    width: 13px;
    height: 3px;
    background-color: white;
    position: absolute;
    bottom: 0;
  }

  .header__burger::before {
    content: '';
    width: 26px;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 0;
  }

  .header__menu {
    padding: 0px 0px;
  }

  .header__phone {
    padding-top: 0px;
    margin-right: 39px;
  }

  .menu-header__body {
    overflow: auto;
    height: 1200px;
  }

  .menu-header {
    overflow: auto;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    position: absolute;
    left: 0;
    top: 0;
    height: 800px;
    background-color: #333333;
    min-width: 300px;
  }

  .menu-header__btn {
    position: absolute;
    right: 38px;
    top: 38px;
    width: 16px;
    height: 16px;
  }

  .menu-header__btn::before,
  .menu-header__btn::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: white;
  }

  .menu-header__btn::after {
    bottom: 7px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .menu-header__btn::before {
    top: 7px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-header__list {
    display: block;
    margin-top: 105px;
    margin-left: 0;
  }

  .menu-header__link {
    font-size: 24px;
    letter-spacing: 0.05em;
    padding-top: 35px;
    padding-left: 39px;
  }

  .title {
    max-height: calc(200px + 600 * (100vw / 768));
    min-height: 600px;
    padding-bottom: 0;
  }

  .title__body {
    max-height: inherit;
    min-height: inherit;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .title__contents {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 600px;
  }

  .title__left-bar {
    display: none;
  }

  .title__description {
    padding: 20px 0px;
  }

  .info__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }

  .info__description {
    text-align: center;
    padding-bottom: 35px;
    margin-right: 0;
  }

  .info__row {
    padding: 0px 20px;
  }

  .title-site {
    padding-top: 80px;
    margin-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .title__content {
    margin: 0px 20px;
  }

  .title__title {
    font-size: 44px;
  }
}